<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context    http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <import resource="classpath*:applicationContext-persistence.xml"/>

    <context:property-placeholder location="classpath*:spring-config.properties" />

    <context:component-scan base-package="com.yishuailuo">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="regex" expression="com\.yishuailuo\.mywebproject\.mytest\.springaop\..*"/>
        <context:exclude-filter type="regex" expression="com\.yishuailuo\.mywebproject\.mytest\.springaspectjaop\..*"/>
    </context:component-scan>

    <!-- 这两个类已经标注解 @component 无需再创建 bean 并指定 class-->
    <!--<bean id="helloImpl" class="com.yishuailuo.mywebproject.mytest.designpattern.proxy.aopwithconfig.HelloImpl"/>-->
    <!--<bean id="helloAroundAdvice" class="com.yishuailuo.mywebproject.mytest.designpattern.proxy.aopwithconfig.HelloAroundAdvice"/>-->

    <bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interfaces" value="com.yishuailuo.mywebproject.mytest.designpattern.proxy.aopwithconfig.Hello"/>
        <property name="target" ref="helloImpl"/>
        <property name="interceptorNames" value="helloAroundAdvice"/>
    </bean>

</beans>